body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 580px;
}

button {
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

p {
    font-weight: bold;
}

#increment-btn {
    background: #5f9341;
    border: 1px solid #5f9341;
}

#reset-btn {
    background: #a23131;
    border: 1px solid #a23131;
    padding: 10px 32px;
}


